.sections {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

@media only screen and (orientation: landscape) and (max-width: 600px) {
  .sections {
    align-items: flex-start;
    flex-direction: row;
  }
}
